    <script src="https://d3js.org/d3.v7.min.js"></script>
    <!-- Color Scale -->
<script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
    <script type="module" src="js/script.js"></script>
    <script type="module" src="js/distance.js"></script>

  </body>
</html>
