<%- include ('./partials/head.ejs') %>
<header>
  <img src="img/bubble-machine-logo.svg" alt="bubble machine logo" />
  <!-- <h1>Bubble Machine</h1> -->
  <nav>
    <ul>

    </ul>
   
  </nav>
</header>

<main>

  <h2>Datapoints</h2>
  <ul class="accordion">
    <li>Items</li>
    <li>Users</li>
    <li>Links</li>
  </ul>


  <section>
    <ul>
      <li>
        <img src="img/arrow-down.png" alt="open button" />
        <h3>Number of users</h3>
        <p>data over parameter 1 udibfiF BOAbojbaBAS  UOAHIDOIDJqwd  hhdohwIOHHIOBDBO  IHIOioEFJDSJBJSDJ dfnjvsnlv</p>
      </li>

      <li>
        <img src="img/arrow-down.png" alt="open button" />
        <h3>Number of friends</h3>
        <p>data over parameter 2</p>
      </li>

      <li>
        <img src="img/arrow-down.png" alt="open button" />
        <h3>Steps per day</h3>
        <p>data over parameter 2</p>
      </li>

      <li>
        <img src="img/arrow-down.png" alt="open button" />
        <h3>Produced items per day</h3>
        <p>data over parameter 2</p>
      </li>

      <li>
        <img src="img/arrow-down.png" alt="open button" />
        <h3>Max. item links</h3>
        <p>data over parameter 2</p>
      </li>

      <li>
        <img src="img/arrow-down.png" alt="open button" />
        <h3>Exposed items per day, per person</h3>
        <p>data over parameter 2</p>
      </li>

      <li>
        <img src="img/arrow-down.png" alt="open button" />
        <h3>Latitude of acceptance</h3>
        <p>data over parameter 2</p>
      </li>

      <li>
        <img src="img/arrow-down.png" alt="open button" />
        <h3>Sharpness</h3>
        <p>data over parameter 2</p>
      </li>

      <li>
        <img src="img/arrow-down.png" alt="open button" />
        <h3>Probability of posting items on the social network</h3>
        <p>data over parameter 2</p>
      </li>

      <li>
        <img src="img/arrow-down.png" alt="open button" />
        <h3>User behaviour</h3>
        <p>data over parameter 2</p>
      </li>

      <li>
        <img src="img/arrow-down.png" alt="open button" />
        <h3>Challenge</h3>
        <p>data over parameter 2</p>
      </li>
    </ul>
    <img src="img/arrow-right.png" alt="open button" id="menuButton" />

  </section>



  <figure id="graph"></figure>

  <div class="reset">
       <!-- reset and next step buttons -->
       <a id="downloadSVG">Download</a>
       <button id="distance">Distance</button>
   <button id="nextStep">Next Step</button>
   <button id="resetSimulation">Reset Simulation</button>
   <button id="autoPlay">Auto play</button>
  </div>
  <div id="zoom">
    <button id="zoomIn">+</button>
    <button id="zoomOut">-</button>
  </div>


  <h2>List of notes</h2>
  <ul id="listNotes"></ul>
  <ul id="listDocuments"></ul>

  <!-- Create a div where the graph will take place -->
<div id="my_dataviz"></div>

</main>




<%- include ('./partials/footer.ejs') %>