<%- include ('./partials/head.ejs') %>
<header>
  <h1>Bubble-machine</h1>
  <nav>
    <button id="nextStep">Next step</button>
    <button id="resetSimulation">Reset simulation</button>
    <p id="menuButton">OPEN</p>
  </nav>
</header>

<figure id="graph">

</figure>
<div id="zoom">
  <button id="zoomIn">+</button>
  <button id="zoomOut">-</button>
</div>

<h2>List of notes</h2>
<ul id="listNotes"></ul>
<ul id="listDocuments"></ul>

<a id="link" ></a>



<%- include ('./partials/footer.ejs') %>