*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  font-family: Lato, sans-serif;
  font-size: 100%;
  padding: 0;
  color: #fff;
  background-color: #222;
  overflow: hidden;
}

svg:hover ~ nav {
  background: hotpink;
}

header {
  position: relative;
}

header h1 {
  color: #fff;
  text-shadow: 1px 2px 4px #348c90bd;
}

header nav {
  position: fixed;
  bottom: 0;
  left: -13em;
  display: flex;
  flex-wrap: wrap;
  background: #4444449c;
  border-radius: 0 0.5em 0.5em 0;
  transition: 1s;
}

header nav:hover {
  background: #444;
}

header nav button {
  background: #efefef;
  border: none;
  border-radius: 0.3em;
  padding: 1em 0.5em;
  box-shadow: 0 3px 6px #22222282;
  font-size: 0.9em;
  margin: 0.5em;
  width: 60%;
}

#menuButton {
  position: absolute;
  cursor: pointer;
  right: 0;
  writing-mode: vertical-rl;
  text-orientation: upright;
}

.open {
  left: 0;
  transition: 1s;
}

svg {
  background: radial-gradient(ellipse at center, #fefefe 0%, #cbeeff 100%);
}

.person {
  fill: #348b90b0;
  size: 10px;
}

.person:hover {
  fill: #348c90bd;
}

.item {
  fill: #dc143cbe;
  size: 5px;
}

#zoom {
  position: fixed;
  right: 0;
  bottom: 0;
  padding: 10px;
}

div#zoom button {
  background-color: white;
  color: black;
  font-size: 2em;
  width: 10vw;
  aspect-ratio: 1 / 1;
}

a#link {
  z-index: 100;
  background-color: red;
  width: 100px;
  height: 100px;
  position: fixed;
  left: 0;
  top: 0;
}